REACT_APP_TEACHER_EMAIL=teacher@example.org
REACT_APP_SCHOOL_DOMAIN=example.org
REACT_APP_SECTIONS=Section1,Section2,Section3
REACT_APP_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec
REACT_APP_ALLOW_ALL_DOMAINS=false
REACT_APP_AUTOMOD_WEBHOOK_URL=https://prod-XX.westus.logic.azure.com:443/workflows/YOUR_FLOW_ID/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YOUR_SIG
REACT_APP_SIMILARITY_WEBHOOK_URL=https://prod-XX.westus.logic.azure.com:443/workflows/YOUR_FLOW_ID/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YOUR_SIG
